In [1]:
import os
import csv
# load the data file budget_data

## Create lists to store the data
PLDelta = []
delta = 0
Date = []
PL = []


## read csv file
finance_csv = os.path.join('.', 'Resources', 'budget_data.csv')

##open csv file
with open(finance_csv, encoding="utf-8") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    #since there is a header row, skip reading the first row into the lists
    csv_header = next(csvreader)
    #initialize the net total of Profit and Losses variable
    netTotal = 0
    # Loop through reading the file and building lists to hold the data
    for row in csvreader:
        Date.append(row[0])
        
Date

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [ ]:
PL = int(row[1])
        delta = PL - delta
        #store the delta in a list
        PLDelta.append(delta)
        #add the Profit/Loss to the running total to calculate the net total amount of "Profit/Losses" over the entire period
        netTotal = netTotal + int(row[1])